body,
html {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    // border: 5px solid black;
    overflow: hidden;
}

.marquee .lyrics span {
    display: inline;
}

.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    // border-top: 7px solid #292932;
    // border-bottom: 3px solid #292932;
}

.marquee .lyrics {
    display: block;
    width: 359%;
    overflow: hidden;
    -webkit-animation: marquee 40s linear infinite;
    animation: marquee 40s linear infinite;
    
}

.marquee span {
    font-size: 16px;
    padding-left: 10px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100% {
        transform: translateX(-8%);
        -moz-transform: translateX(-10%);
        -o-transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
    }
}

.container-bottom-image {
    background-image: url(./park.png);
    height: 315px;
    background-position: right;
    background-repeat-y: no-repeat;
}

.container {

    &-all {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        // background-image: url(./park.png);
        background: linear-gradient(to bottom, #fff 87%, #000 87%);
    }

    &-top {
        width: 50%;
        margin: 0 auto;
        height: 45%;
          @media (max-width: 768px){
                width: 90%;
            }

            &-image{
                position: absolute;
                left: 1px;
                width: 25%;
            }

            &-title{
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 4rem;
                margin: 0;
                text-align: center;
                border-bottom: 1px solid black;
            }

            &-subtitle{
                font-family: 'Xanh Mono', monospace;
            }

        &-menu {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 100%;
            padding: 0;

            &--link {
                list-style: none;
                margin: 1rem;
                display: flex;
                border: 1px solid rgb(49, 49, 49);
                background-color: transparent;
                padding: 0.625rem;
                text-transform: uppercase;
                font-size: 0.625rem;
                -webkit-box-shadow: 10px 15px 0px 0px rgba(50, 50, 50, 0.75);
                -moz-box-shadow: 15px 15px 0px 0px rgba(50, 50, 50, 0.75);
                box-shadow: 10px 8px 0px 0px rgba(110, 94, 146, 0.75);
                transition: all .3s;

                &:hover {

                    transition: all .3s;
                    -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
                    -moz-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
                    box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
                }

                a {
                    background-color: transparent;
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }


    &-rigth {
        width: 50%;
    }


    &-end {
        h1 {
            font-family: 'Xanh Mono', monospace;
            font-size: 54px;
            text-align: center;
            margin: 0;
        }
    }


}