body,
html {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    // border: 5px solid black;
    overflow: hidden;
}

.marquee .lyrics span {
    display: inline;
}

.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    // border-top: 7px solid #292932;
    // border-bottom: 3px solid #292932;
}

.marquee .lyrics {
    display: block;
    width: 359%;
    overflow: hidden;
    -webkit-animation: marquee 40s linear infinite;
    animation: marquee 40s linear infinite;
    
}

.marquee span {
    font-size: 16px;
    padding-left: 10px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100% {
        transform: translateX(-8%);
        -moz-transform: translateX(-10%);
        -o-transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
    }
}

.container-bottom-image {
    background-image: url(./park.png);
    height: 315px;
    background-position: right;
    background-repeat-y: no-repeat;
}

.container {

    &-all {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        // background-image: url(./park.png);
        background: linear-gradient(to bottom, #fff 87%, #000 87%);
    }

    &-top {
        width: 50%;
        margin: 0 auto;
        height: 45%;
          @media (max-width: 768px){
                width: 90%;
            }

            &-image{
                position: absolute;
                left: 1px;
                width: 25%;
            }

            &-title{
                font-family: 'Open Sans Condensed', sans-serif;
                font-size: 4rem;
                margin: 0;
                text-align: center;
                border-bottom: 1px solid black;
            }

            &-subtitle{
                font-family: 'Xanh Mono', monospace;
            }

            &-menu {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 100%;
            padding: 0;
            @media (max-width: 768px){
               flex-direction: row;
            }

            &--link {
                list-style: none;
                margin: 1rem;
                display: flex;
                background-color: transparent;
                // padding: 0.625rem;
                text-transform: uppercase;
                font-size: 0.625rem;
                @media (max-width: 768px){
                    margin: 0rem;
                 }
              

                a {
                    position: relative;
                    display: block;
                    padding: 4px 0;
                    font-family: Lato, sans-serif;
                    color: #4a4b4b;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: 0.5s;
                    padding: 10px;
                    
                    &::after {
                        position: absolute;
                        content: "";
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: #000000;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 0.5s;
                      }
                
                      &:hover {
                        color: #085e64;
                      }
                
                      &:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
                      }
                }
            }
        }
    }


    &-rigth {
        width: 50%;
    }


    &-end {
        h1 {
            font-family: 'Xanh Mono', monospace;
            font-size: 54px;
            text-align: center;
            margin: 0;
        }
    }


}