@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
body,
html {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.marquee .lyrics span {
  display: inline;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.marquee .lyrics {
  display: block;
  width: 359%;
  overflow: hidden;
  -webkit-animation: marquee 40s linear infinite;
  animation: marquee 40s linear infinite;
}

.marquee span {
  font-size: 16px;
  padding-left: 10px;
}

@-webkit-keyframes color-text-flow-keys {
  0% {
    color: #d65c97;
  }
  5% {
    color: #5cd666;
  }
  10% {
    color: #a55cd6;
  }
  15.0% {
    color: #5c7cd6;
  }
  20% {
    color: #d65c7a;
  }
  25% {
    color: #81d65c;
  }
  30.0% {
    color: #835cd6;
  }
  35% {
    color: #685cd6;
  }
  40% {
    color: #5c9dd6;
  }
  45% {
    color: #5cd670;
  }
  50% {
    color: #d6625c;
  }
  55.0% {
    color: #d6835c;
  }
  60.0% {
    color: #d6605c;
  }
  65% {
    color: #be5cd6;
  }
  70% {
    color: #5c8dd6;
  }
  75% {
    color: #95d65c;
  }
  80% {
    color: #d69d5c;
  }
  85.0% {
    color: #d65c81;
  }
  90% {
    color: #5cd666;
  }
  95% {
    color: #d67e5c;
  }
  100% {
    color: #64d65c;
  }
}

@keyframes color-text-flow-keys {
  0% {
    color: #d65c97;
  }
  5% {
    color: #5cd666;
  }
  10% {
    color: #a55cd6;
  }
  15.0% {
    color: #5c7cd6;
  }
  20% {
    color: #d65c7a;
  }
  25% {
    color: #81d65c;
  }
  30.0% {
    color: #835cd6;
  }
  35% {
    color: #685cd6;
  }
  40% {
    color: #5c9dd6;
  }
  45% {
    color: #5cd670;
  }
  50% {
    color: #d6625c;
  }
  55.0% {
    color: #d6835c;
  }
  60.0% {
    color: #d6605c;
  }
  65% {
    color: #be5cd6;
  }
  70% {
    color: #5c8dd6;
  }
  75% {
    color: #95d65c;
  }
  80% {
    color: #d69d5c;
  }
  85.0% {
    color: #d65c81;
  }
  90% {
    color: #5cd666;
  }
  95% {
    color: #d67e5c;
  }
  100% {
    color: #64d65c;
  }
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(-8%);
    -moz-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(-8%);
    -moz-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
  }
}

.container-bottom-image {
  background-image: url(./park.png);
  height: 340px;
  background-position: right;
  background-repeat-y: no-repeat;
  margin-bottom: -3rem;
}

@media (max-width: 991px) {
  .container-bottom-image {
    height: 310px;
  }
}

.container-all {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(87%, #fff), color-stop(87%, #000));
  background: linear-gradient(to bottom, #fff 87%, #000 87%);
}

.container-top {
  width: 50%;
  margin: 0 auto;
  height: 45%;
}

@media (max-width: 768px) {
  .container-top {
    width: 90%;
  }
}

.container-top-image {
  position: absolute;
  left: 1px;
  width: 25%;
}

.container-top-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4rem;
  margin: 0;
  text-align: center;
  -webkit-animation-name: color-text-flow-keys;
  animation-name: color-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: -19.2s;
  animation-delay: -19.2s;
}

.container-top-title span:nth-of-type(1) {
  font-size: 5rem;
  -webkit-animation-name: color-text-flow-keys;
  animation-name: color-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: -12.2s;
  animation-delay: -1.2s;
}

.container-top-title span:nth-of-type(2) {
  -webkit-animation-name: color-text-flow-keys;
  animation-name: color-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: -12.2s;
  animation-delay: -5.2s;
}

.container-top-title span:nth-of-type(3) {
  -webkit-animation-name: color-text-flow-keys;
  animation-name: color-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: -12.2s;
  animation-delay: -10.2s;
}

.container-top-title span:nth-of-type(4) {
  font-size: 5rem;
  -webkit-animation-name: color-text-flow-keys;
  animation-name: color-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: -12.2s;
  animation-delay: -17.2s;
}

.container-top-title span:nth-of-type(5) {
  -webkit-animation-name: color-text-flow-keys;
  animation-name: color-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: -12.2s;
  animation-delay: -12.2s;
}

.container-top-title span:nth-of-type(6) {
  -webkit-animation-name: color-text-flow-keys;
  animation-name: color-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: -12.2s;
  animation-delay: -8.2s;
}

.container-top-title span:nth-of-type(7) {
  -webkit-animation-name: color-text-flow-keys;
  animation-name: color-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: -12.2s;
  animation-delay: -2.2s;
}

.container-top-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.container-top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  z-index: 20000;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

@media (max-width: 768px) {
  .container-top-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container-top-menu--link {
  list-style: none;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.625rem;
}

@media (max-width: 768px) {
  .container-top-menu--link {
    margin: 0rem;
  }
}

.container-top-menu--link a {
  position: relative;
  display: block;
  padding: 4px 0;
  color: #4a4b4b;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px;
}

.container-top-menu--link a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-animation-name: color-text-flow-keys;
  animation-name: color-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.2s;
  animation-delay: 1.2s;
}

.container-top-menu--link a:hover {
  color: #085e64;
  -webkit-animation-name: color-text-flow-keys;
  animation-name: color-text-flow-keys;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.container-top-menu--link a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.container-rigth {
  width: 50%;
}

.container-end h1 {
  font-family: 'Xanh Mono', monospace;
  font-size: 54px;
  text-align: center;
  margin: 0;
}

footer {
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
}

footer p {
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */